<form action="/" method="get">
  <p>
    <input id="uid" name="uid" type="text" value="MXOFM" /> 
    <input type="submit" value="search" /> (Example *OFM* )
  </p>
</form>
uid = <%= @uid %> 
searchresult = <%= @result %>
<%
 # Group= <%= @group %> 
 # contains <input id="member" name="member" type="text" value="IMBEH" /> 
%>